body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: rgb(0, 117, 108);
	padding: 0.5em 0 0.5em 0;
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

footer {
	background-color: rgb(0, 117, 108);
	padding: 1em 0 1em 0;
	text-align: center;
}

main {
	background-color: rgb(212, 212, 212);
}

button {
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	border: 2px solid black;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 0.5em 1em;
	width: 100%;
	max-width: 380px;
}

#sort-by-label {
	margin: 1em 0 1em 6em;
}

/* Grid styling on main */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	padding: 1em;
}

@media (min-width: 700px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1100px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1400px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.grid-item {
	background-color: rgb(158, 53, 53);
	padding: 1em;
}

.grid-item:hover {
	box-shadow: 0 8px 16px 0 black;
}

.grid-item img {
	width: 100%;
	height: 500px;
	background-color: rgb(255, 255, 255);
}

.grid-item p {
	padding-left: 0.5em;
	text-align: center;
}

.grid-item h2 {
	padding-left: 0.3em;
	text-align: center;
}

.tools-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: rgb(0, 133, 71);
	padding: 1em 0.5em 1em 0.5em;
	gap: 1em;
}

/* Dialog styling */
#dialog-create-user {
	width: 55vw;
	padding: 0 1em 2em 1em;
	background-color: #868686;
}

.form-create-user-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#form-create-btns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3em;
	padding-top: 2em;
}

#submit-btn {
	background-color: rgb(23, 165, 23);
	margin-left: auto;
}

#reset-btn {
	background-color: red;
	margin-right: auto;
}

.input-btns-styling {
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	border: 2px solid black;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 0.5em 1em;
	width: 100%;
	max-width: 380px;
}

form h2 {
	text-align: start;
}

#form-create-user-info {
	display: flex;
	flex-direction: column;
}

#form-create-user-info label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-weight: bold;
}

#form-create-new-user input[type="text"],
#form-create-new-user input[type="number"],
#form-create-new-user input[type="url"] {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#form-create-options-section {
	margin-left: 3em;
}
