body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: rgb(0, 117, 108);
	padding: 0.5em 0 0.5em 0;
}

h1 {
	text-align: center;
}

footer {
	background-color: rgb(0, 117, 108);
	padding: 1em 0 1em 0;
	text-align: center;
}

main {
	background-color: rgb(212, 212, 212);
}

button {
	padding: 0.5em 0 0.5em 0;
	margin: 0.5em 2em 0.5em 2em;
}

#sort-by-label {
	margin: 1em 0 1em 6em;
}

/* Grid styling on main */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	padding: 1em;
}

@media (min-width: 700px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1100px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1400px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.grid-item {
	background-color: rgb(158, 53, 53);
	padding: 1em;
}

.grid-item:hover {
	box-shadow: 0 8px 16px 0 black;
}

.grid-item img {
	width: 100%;
	height: 400px;
	background-color: rgb(255, 255, 255);
}

.grid-item p {
	padding-left: 0.5em;
	text-align: center;
}

.grid-item h2 {
	padding-left: 0.3em;
	text-align: center;
}

.tools-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: rgb(0, 133, 71);
	padding: 1em 0.5em 1em 0.5em;
	gap: 1em;
}
